--- 
layout: "/layout/terms-page.njk"
title: "Privacy Policy"
header: 
    nav: [
        {label: "Portfolio", link: "/portfolio"},
        {label: "Experience", link: "/experience"},
        {label: "About", link: "/about", isActive: true},
        {label: "Contact", link: "/contact"}
    ]
footer: 
    footerLinks: [
        {label: "FAQs", link: "/faqs", target: "_self"},        {label: "Privacy Policy", link: "https://www.iubenda.com/privacy-policy/49373695", target: "_blank"},
        {label: "Cookie Policy", link: "https://www.iubenda.com/privacy-policy/49373695/cookie-policy", target: "_blank"}
    ]
---

Coming soon...