.contact-form .column-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 2;
        grid-column-end: 5;
    }
}

.contact-form .column-text .graphic-wrapper {
    display: flex;
    justify-content: end;
}

.contact-form .column-form {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 6;
        grid-column-end: 12;
    }
}

.contact-form .column-form form {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: 20px;
}

.contact-form.bg-secondary .cta-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--highlight-color);
}

.contact-form.bg-secondary form {
    border: 3px solid var(--highlight-color);
}

.contact-form .column-form form .form-field-wrap {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.contact-form.bg-secondary form label {
    color: var(--highlight-color);
}

.contact-form.contact-form.bg-secondary form textarea:focus,
.contact-form.bg-secondary form input:focus {
    outline: 2px solid var(--highlight-color);
}

.contact-form.bg-secondary form button.form-button {
    border: 3px solid var(--highlight-color);
    color: var(--highlight-color);
    background: transparent;
}

.contact-form.bg-secondary form button.form-button:hover {
    color: var(--dark);
    background-color: var(--highlight-color);
}

