section.hero {
    position: relative;
}

section.hero > .container {
    position: relative;
}

section.hero.theme-home {
    overflow: hidden;
    padding: 0;
}
 

section.hero.theme-home .hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-column-start: 2;
    grid-column-end: 12;
}

section.hero.theme-home .hero-wrapper .hero-meta-wrapper {
    background-color: transparent;
}

section.hero.theme-home .hero-wrapper .hero-background-image {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 60%;
}
 
section.hero.theme-home .hero-wrapper .hero-meta-wrapper {
    padding: calc(140 / 16 * 1rem) 0;
    order: 1;
}

section.hero.theme-home .hero-strapline,
section.hero.theme-home .hero-title {
    color: var(--tertiary-color);
}

section.hero.theme-home .hero-strapline {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    margin: 0;
}

section.hero.theme-home .hero-strapline p {
    margin: 0;
}

section.hero.bg-secondary .hero-strapline,
section.hero.bg-secondary .hero-title {
    color: var(--highlight-color);
}

section.hero .hero-meta-wrapper .hero-title {
    text-align: left;
    @media (width >= 48rem) { 
        text-align: right;
    }
}

section.hero .hero-meta-wrapper .hero-title br {
    display: none;
    @media (width >= 48rem) { 
        display: block;
    }
}

section.hero.theme-portfolio .hero-meta-wrapper {
    order: 2;
    display: flex;
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        justify-content: end;
        align-items: end;
        grid-column-start: 6;
        grid-column-end: 11;
    }
}

section.hero .hero-image-wrapper {
    display: none;
    @media (width >= 48rem) { 
        display: flex;
    }
}
 

section.hero.theme-home .hero-meta-wrapper .hero-title {
    text-align: left;
}

section.hero.theme-portfolio .hero-image-wrapper {
    justify-content: start;
    order: 1;
    grid-column-start: 3;
    grid-column-end: 6;    
}  

section.hero.theme-portfolio .hero-image-wrapper img {
    max-height: 400px;
}

section.hero.theme-about .hero-image-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) {
        display: flex;
        justify-content: center;  
        grid-column-start: 8;
        grid-column-end: 11;
    }
}

section.hero.theme-experience .hero-meta-wrapper .hero-title {
    text-align: left;
}

section.hero.theme-experience .hero-meta-wrapper {
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        display: flex;
        align-items: end;
        grid-column-start: 3;
        grid-column-end: 7;
    }
}

section.hero.theme-experience .hero-image-wrapper {
    transform: rotate(-15deg);
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) {
        margin-top: 2rem;
        display: flex;
        justify-content: center;  
        grid-column-start: 8;
        grid-column-end: 11;
    }
}



section.hero.theme-contact .hero-meta-wrapper {
    order: 2;
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) { 
        grid-column-start: 7;
        grid-column-end: 11;
    }
}

section.hero.theme-contact .hero-image-wrapper {
    order: 1;
    grid-column-start: 1;
    grid-column-end: 12;
    @media (width >= 48rem) {
        display: flex;
        justify-content: center;    
        grid-column-start: 3;
        grid-column-end: 6;
    }
}

