/* map the icons to the classes */
.logo-me-olive-branch {background-image: url('/images/projects/my_eirene/me-logo-logomark.svg');}

.logo.logo-me-greek-goddess {background-image: url('/images/projects/my_eirene/me-goddess-of-peace.svg');}

.logo.logo-me-sceptre-of-goddess {background-image: url('/images/projects/my_eirene/me-sceptre-of-the-goddess.svg');}