.projects-filters {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: calc(40 / 16 * 1rem);
    @media (width >= 48rem) { 
        margin-bottom: calc(55 / 16 * 1rem);
    }
}

.projects-wrapper {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    @media (width >= 48rem) { 
        flex-direction: row;
    }
}

.projects-wrapper article {
    width: auto;
    @media (width >= 48rem) { 
        width: 33.33%;
    }
}