section.text-block .text-block__wrapper {
    grid-column: span 12;
    @media (width >= 48rem) { 
        grid-column-start: 2;
        grid-column-end: 12;    
    }
}

section.text-block .text-block__title {
    text-transform: uppercase;
}

section.text-block article.signpost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

section.text-block article.signpost p.caption {
    text-transform: uppercase;
    font-weight: 900;
}