.grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
}

.col-span-4 {
    grid-column: span 4;    
}

@media only screen and (max-width: 600px) {
    .col-span-4 {
        grid-column: span 12;
    }
}

