<header>
    <div class="container-outer">
        <div class="container">
            <div class="nav-wrapper">
                {% if header.logo.src %}
                    <div class="nav-logo-wrapper">
                        <a href="/">
                            <img src="{{ header.logo.src }}" alt="{{ header.logo.alt }}" />
                        </a>
                    </div>
                {% endif %} 
                <nav aria-label="Main navigation">
                    <ul>
                        {%- for link in header.nav -%}
                             <li>
                                <a href="{{link.link}}" class="{% if link.isActive %}is-active{% endif %}">{{ link.label }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                </nav> 
            </div>
        </div>
    </div>
</header>