--- 
title: Jamila Akhtar Portfolio
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bundle.css">
        <title>{{ title }}</title>        
    </head>
    <div class="container-outer">
        <div class="container">
            <div class="nav-wrapper">
                <div class="nav-logo-wrapper">
                    <img src="images/logo.svg" alt="Main Logo" />
                </div>
                <nav>
                    <ul>
                        <li><a href="/portfolio">Portfolio</a></li>
                        <li><a href="/experience">Experience</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </nav>    
            </div>
        </div>
    </div>
    <body>
        <div>
            {{ content | safe }}
        </div>
    </body>
    <footer>
        <div class="container">
            <div class="grid">
                <div class="col col-span-4">
                    <h3 class="footer-col-title">INFORMATION</h3>
                    <nav class="footer-menu"> 
                        <ul>
                            <li><a href="/faqs">FAQs</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>
                            <li><a href="/terms">Terms</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col col-span-4">
                    <img src="images/Footer_logo.svg" alt="Footer Logo" />
                    <p class="footer-copyright-text">&copy; Jamila Y Akhtar 2025 All Rights Reserved</p>
                </div>
                <div class="col col-span-4">
                    <div class="footer-social-media-wrapper">
                        <div>
                            <h3 class="footer-col-title">SOCIAL MEDIA</h3>
                            <ul class="footer-social-media">
                                <li class="twitter"><a href="#"><span>Twitter</span></a></li>
                                <li class="instagram"><a href="#"><span>Instagram</span></a></li>
                                <li class="youtube"><a href="#"><span>YouTube</span></a></li>
                                <li class="linkedin"><a href="#"><span>LinkedIn</span></a></li>                        
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>