<section class="hero {{ "theme-" + (hero.theme or "home") }} {{ "bg-" + (hero.backgroundColour or "white") }}">    
    <div class="container">
        <div class="hero-image-title__wrapper">
            {% if hero.backgroundImage %}
                <div class="hero-background-image" style="background-image: url('{{hero.backgroundImage.src}}')"><span class="visually-hidden">background container</span></div>
            {% endif %}
            <div class="hero-meta-wrapper">
                {% if hero.title %}
                    <h1 class="hero-title">{{ hero.title | safe }}</h1>
                {% endif %}
                {% if hero.strapline %}
                    <div class="hero-strapline">
                        <p>{{ hero.strapline }}</p>
                    </div>
                {% endif %}
            </div>
            {% if hero.theme %}
                <div class="hero-icon {{ "hero-icon-" + (hero.theme or "portfolio") }}"></div>
            {% endif %}
        </div>    
    </div>
</section>